

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #a9dffc;
}

/*NAVBAR STYLES*/
nav{
  background-color: #e1ebe8;
  width: 100%;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
ul{
	list-style: none;
  padding: 2%;
}
ul li {
  display: inline-block;
  padding: 2px 15px;
}
ul li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Baloo Chettan 2', cursive;
	color: #0f4c75;
}
ul li a.active{
	color: black;
}
ul li a:hover{
	color: pink;
}
/*END NAVBAR STYLES*/

/*INTRO STYLES*/

h1 {
  font-family: 'Tangerine';
  text-align: center;
  font-size: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10%;
}

h2 {
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
}
#intro-container{
  background-image: url('Images/flowers.jpg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutme {
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;

}
/*END INTRO STYLES*/



/*TECH SKILLS STYLING*/

h3 {
  text-align: center;
  font-family: 'Tangerine';
  font-size: 65px;
}
ul {
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 20px;
}
.logos {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 50%;
  background-color: #fabaab80;
  padding: 45px;
  border-radius: 25px;
}
#skills2{
  margin-top: 20px;
}

/*END TECH SKILLS STYLING*/

/*PROJECTS SECTION STYLING*/
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  font-family: 'Baloo Chettan 2', cursive;
}
.proj-tile {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 200px;
  background-color: #89bc8980;
  padding: 45px;
  border-radius: 25px;
  text-align: center;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50%;
  max-width:100%;
  max-height:80%;
  border-radius: 20px;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
}


/*END PROJECT SECTION STYLING*/

/*CONTACT SECTION STYLING*/
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#email-btn{
  background: #e1ebe8;
  border-radius: 8px;
  font-family: 'Baloo Chettan 2', cursive;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
}

#icon{
  width: 65px;
  padding: 10px;
  margin: 10px;
}

#contact-container{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
  width: 50%;
  background-color: #f78b7480;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
}

#icon:hover {
  opacity: 50%;
}
/*END CONTACT SECTION STYLING*/

/*FOOTER STYLING*/
#footer {
  background: #a9dffc;
  
}



